<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ujuit.quant.firmoffer.model.StrategyMonthAnalysis">
	<resultMap id="BaseResultMap"
		type="com.ujuit.quant.firmoffer.model.StrategyMonthAnalysis">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="profit" property="profit" jdbcType="DECIMAL" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, create_time, profit, type, publish_date
	</sql>

	<select id="queryList" resultMap="BaseResultMap" parameterType="map">
		select
		sma.*
		from strategy_month_analysis   sma
		LEFT JOIN t_sub_account tsa on tsa.id=sma.sub_account_id
		JOIN
		t_param_group
		tpg ON tsa.param_group_id=tpg.id
		LEFT JOIN t_test_record
		ttr on
		ttr.id=tpg.backtest_id
		where ttr.id=#{testId} and ttr.strategy_id=#{strategyId}
			<if test="startTime !=null ">
				<![CDATA[ and sma.publish_date >= #{startTime} ]]>
			</if>
			<if test="endTime !=null ">
				<![CDATA[ and sma.publish_date <= #{endTime} ]]>
			</if>
		</select>
	
	
	<select id="queryAnalysis"  resultMap="BaseResultMap"  parameterType="map">
		  select
		sma.*
		from strategy_month_analysis  sma
		LEFT JOIN t_sub_account tsa on tsa.id=sma.sub_account_id
		JOIN
		t_param_group
		tpg ON tsa.param_group_id=tpg.id
		LEFT JOIN t_test_record
		ttr on
		ttr.id=tpg.backtest_id
		where ttr.id=#{testId} and ttr.strategy_id=#{strategyId}
		ORDER BY publish_date DESC  LIMIT 1
	</select>
	
	<select id="IndustryList" resultType="com.ujuit.quant.firmoffer.model.IndustryFactor" parameterType="map">
	SELECT
	inf.industry_id industryId,
	REPLACE( inf.name, '申万', ' ') name,inf.value
	FROM  industry_factor  inf
		LEFT JOIN t_sub_account tsa on tsa.id=inf.sub_account_id
		JOIN
		t_param_group
		tpg ON tsa.param_group_id=tpg.id
		LEFT JOIN t_test_record
		ttr on
		ttr.id=tpg.backtest_id
		where ttr.id=#{testId} and ttr.strategy_id=#{strategyId}
		<if test="startTime !=null ">
			<![CDATA[ and inf.publish_date >= #{startTime} ]]>
		</if>
		<if test="endTime !=null ">
			<![CDATA[ and inf.publish_date <= #{endTime} ]]>
		</if>
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from strategy_month_analysis
		where id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insert"
		parameterType="com.ujuit.quant.firmoffer.model.StrategyMonthAnalysis">
		insert into strategy_month_analysis (id, create_time,
		profit,
		type, publish_date)
		values (#{id,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP},
		#{profit,jdbcType=DECIMAL},
		#{type,jdbcType=INTEGER}, #{publishDate,jdbcType=TIMESTAMP})
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="com.ujuit.quant.firmoffer.model.StrategyMonthAnalysis">
		update strategy_month_analysis
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="profit != null">
				profit = #{profit,jdbcType=DECIMAL},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="publishDate != null">
				publish_date = #{publishDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		strategy_month_analysis
		where id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>