.header .logo{
	
}
.scroll .menu .on, .scroll .menu a:hover{
	  cursor:default;
}
.header li>a.select_btn{
	font-weight:normal;
}
/*banner*/
.bg{
	color: #fff;
	text-align: center;
}
.bg .t1{
	font-size: 68px;
	height: 68px;
	line-height: 68px;
	margin: 0 auto;
	margin-top: 180px;
	width: 800px;
}
.bg .t2{
	font-size: 68px;
	height: 68px;
	line-height: 68px;
	margin: 0 auto;
	margin-top: 52px;
	width: 800px;
}
.bg .subt1{
	font-size: 36px;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	margin-top: 40px;
	width: 800px;
	font-weight:100;
}
.bg a{
	display:block;
	width:154px;
	height:48px;
	line-height:48px;
	font-size:18px;
	text-align:center;
	margin:0 auto;
	color:#fff;
	margin-top:69px;
	background: url(../../images/frontend/strategy/s_btn_154.png) no-repeat center center;
}
.bg .itemw{
	height: 754px;
	overflow: hidden;
	background: url(../../images/frontend/company/banner.png) no-repeat center center;
}
/*带图标的左右动画*/
.item1{
	height: 689px;
	overflow: hidden;
	background: url(../../images/frontend/company/item1.png) no-repeat center center;
}
.item1 .t1{
	color:#008dff;
	font-size:28px;
	height:28px;
	line-height:28px;
	margin-top:110px;
	text-align:center;
}
.item1 .t2{
	font-size:18px;
	text-align:center;
	color:#333333;
	font-weight:normal;
	margin-top:44px;
}
.item2{
	height: 1026px;
	overflow: hidden;
	background: url(../../images/frontend/company/item2.png) no-repeat center center;
}
.item2 .itemn{
	position:relative;
}
.item2 .itemn >img{
	margin:0 auto;
	width:402px;
	height:570px;
	margin-top:360px;
    margin-left:394px;
}
.item2 li{
	position:absolute;
}
.item2 li img{
	
}
.item2 p{
	font-size:18px;
	color:#008dff;
	margin-bottom:12px;
}
.item2 li.sub1{
	top:340px;
	left:0;
	width:113px;
}

.item2 .sub2{
	top:434px;
	left:94px;
}
.item2 .sub3{
	top:251px;
	left:232px;
	text-align:center;
}
.item2 .sub4{
	top:127px;
	left:543px;
	text-align:center;
}
.item2 .sub5{
	top:299px;
	left:816px;
	text-align:center;
}
.item2 .sub6{
	top:446px;
	right:0;
	text-align:right;
}
.item2 .sub7{
	top:537px;
	left:822px;
	
}
.item3{
	height:260px;
	
	overflow:hidden;
}
.item3 .t1{
	font-size:28px;
	height:28px;
	line-height:28px;
	color:#008dff;
	margin-top:140px;
	text-align:center;
}
.item3 .t2{
	margin-top:45px;
	font-size:18px;
	text-align:center;
}
/*我们的优势*/
.advantage {
	overflow: hidden;
	height: 496px;
	background: url(../../images/frontend/company/advatage.png) no-repeat center center;
}
.advantage .ptitle{
	font-size: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
	margin-top: 140px;
	margin-bottom: 128px;
}
.advantage ul{
	margin-top:153px;
	overflow:hidden;
}
.advantage li{
	float: left;
	color: #fff;
	overflow: hidden;
	text-align: center;
}
.advantage li.first{
	width: 130px;
	margin-right:250px;
}
.advantage li img{
	
	margin-bottom:40px;
}
.advantage li.first img{
	margin-left:20px;
	
}
.advantage li.second{
	width: 93px;
	
	margin-right:273px;
}
.advantage li.third{
	width:87px;
	margin-right:273px;
}
.advantage li.fourth{
	width: 89px;
}
.advantage .title{
	text-align: center;
	color: #fff;
	font-size: 18px;
	height: 18px;
	line-height:18px;
	margin-bottom: 27px;
}
.advantage .content{
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	
}
